<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Flash card App</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom: 15px;">
        <a class="navbar-brand" href="#">Home</a>
      </nav>

      <div class="container">
        <div class="task-container">
          <div id="form-wrapper">
            <form action="#" id="form">
              <div class="flex-wrapper">
                  <input type="text" id="title" class="form-control" name="title", placeholder="Flashcard Title">
                <br>
                  <input type="text" id="description" class="form-control" name="description", placeholder="Description">            
                <br>
                  <input type="submit" class="btn btn-primary" id="submit">
              </div>
            </form>
          </div>

          <hr>
          <h2 style="text-align: center;">Flashcards</h2>

          <div id="list-wrapper">

            <!-- Here comes code from javascript -->

          </div>
        </div>
      </div>


    <script type="text/javascript">

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');
        var activeCard = null

        refreshlist()

      // responsible for calling data and outputing it to an list wrapper
      function refreshlist(){
        var wrapper = document.getElementById('list-wrapper')

        var url = 'http://127.0.0.1:8000/api/card_list'
        wrapper.innerHTML = ''

        fetch(url)
        .then((rsp)=>rsp.json())
        .then(function(data){
          // console.log('Data:',data)
          var list = data
          for (var i in list){
            var item = `
        <div id="accordion">
          <div class="card">
            <div class="card-header" id="title-${i}">
              
              <div class="row">
                <div class="col-md-8">
              
                    <h5 class="mb-0">
                      <p class="btn btn-link" data-toggle="collapse" data-target="#description-${i}" aria-expanded="true" aria-controls="description-${i}">
                        ${(list[i].title)}
                      </p>
                    </h5>
                    </div>

                <div class="col-md-4">

                  <div class="row">

                  <div class="col-md-4">
                    <button  class="btn btn-primary edit">Edit</button>
                  </div>
                  <div class="col-md-4">
                    <button  class="btn btn-danger delete">Delete</button>
                  </div>
                  <div class="col-md-4">
                    <button  class="btn btn-warning remembred">Remembred</button>
                  </div>
                </div>
                </div>
              </div>
            </div>

            <div id="description-${i}" class="collapse" aria-labelledby="title-${i}" data-parent="#accordion">
              <div class="card-body">
                ${(list[i].description)}
              </div>
            </div>
          </div>

        </div>      
            `

        wrapper.innerHTML+= item

        }

        for (var i in list){
        var edit_btn = document.getElementsByClassName('edit')[i]
        var dlt_btn = document.getElementsByClassName('delete')[i]


        edit_btn.addEventListener('click' , (function(item){
          return function(){
            editCard(item)
          }
        })(list[i]))

        dlt_btn.addEventListener('click' , (function(item){
          return function(){
            deleteCard(item)
          }
        })(list[i]))

        }

        })
      }

      // Event Listner to create a data through the form
      var form = document.getElementById('form-wrapper')
      form.addEventListener('submit', function(e){
        e.preventDefault() //this prevents the form from being submitted

        var url = 'http://127.0.0.1:8000/api/card_create/'

        if(activeCard!= null){
          var url = `http://127.0.0.1:8000/api/card_update/${activeCard.id}`
          activeCard = null
        }


        var title = document.getElementById('title').value
        var description = document.getElementById('description').value

        // console.log(title , description)

        fetch(url, {
          method: 'POST',
          headers: {
            'Content-type': 'application/json',
            'X-CSRFToken' : csrftoken,
          },
          body:JSON.stringify({'title': title, 'description':description})
          
        }).then(function(response){
          refreshlist()
          document.getElementById('form').reset()
        })
      })


        function editCard(card){
          activeCard = card
          // console.log(activeCard.title)
          document.getElementById('title').value = activeCard.title
          document.getElementById('description').value = activeCard.description
        }


        function deleteCard(card){
          activeCard = card
          console.log('delete clicked!')

          fetch(`http://127.0.0.1:8000/api/card_delete/${card.id}` , {
            method:'DELETE',
            headers: {
              'Content-type': 'application/json',
              'X-CSRFToken' : csrftoken,
            }
          }).then((response) => {
            refreshlist()
          })
        }
    </script>
    
</body>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</html>